form{
    background-color: @geel;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;

    fieldset{
        border: none;
        legend{
            text-align: left;
            input{
                border: solid 0.01em #978C87;
            }   
        } 
    }
}
/*===================
    FORM SEARCH
====================*/

.search {
    .screen-md({
        margin: 0 2%;
        });
    .screen-sm({
        margin: 0 3%;
        });
    form {
        box-shadow: none;
        padding: 0em;
        fieldset{
            legend{
                text-align: center;
                width: 100%;
                input{
                    border: none;
                    font-size: 1em;
                    padding-left: 0.5em;
                    margin: 5% auto;
                    width: 50%;
                    height: 2em;    
                }
            }
        }
    }
    .btn-group{
        background: @geel;
        display: flex;
        justify-content: space-around;
        padding: 1em;
            button{
                text-decoration: none;
                color:@wit;
                border: 1px solid @blauw;
                background-color: transparent;
                padding: 0.5em 1em;
                font-size: 1em;
                transition: all .5s ease;
                &:hover{
                    background: @blauw;
                    color: @wit;
                }
        }
    }
    .collapse{
        form{
            legend{
                color: @marine-blauw;
            }
            input:checked+label:after {
                opacity: 1;
            }
            label{
                color:@marine-blauw;
                position: relative;
                justify-content: space-between;
                margin-bottom: 1em;
                &:before {
                    content: '';
                    width: 1.25rem;
                    height: 1.25rem;
                    cursor: pointer;
                    position: absolute;
                    top: 0;
                    left: -1.5em;
                    background: @wit;
                }
                &:after {
                    content: "";
                    width: 1.25rem;
                    height: .5rem;
                    position: absolute;
                    top: 0;
                    left: -1.5em;
                    border: 1px solid #0079d3;
                    border-top: none;
                    border-right: none;
                    opacity: 0;
                    .transition(0.2s all ease);
                    .transform(rotate(-25deg) skewY(-23deg));
                }
            }
        }
    }
}

/*===================
    FORM REACTIE
====================*/
.reactie{
        form{
        margin: 0 5%;
        .screen-lg({
            margin: 0 15%;
            });
            legend{
                margin-bottom: 1em;
                padding-top: 1em;
            label{
                display: flex;
                flex-direction: column;
                margin: 1em auto;
                color: @marine-blauw;
                input {
                    width: 65em;
                    border: 0.1em solid @wit;
                    height: 2em;
                    .screen-md({
                        width: 46em;
                    });
                    .screen-sm({
                        width: 17em;
                    });
                textarea{
                    height: 10em;
                    border: 0.1em solid @wit;
            .button{
                width: 100%;
                background: @blauw;
                border: 0.15em solid @blauw;
                color: @wit;
                font-size: 1em;
                padding: 1em;
                margin: 1em 0;
                        }
                    }
                 }
            }
        }   
    }
}

/*===================
    FORM LOGIN
====================*/
div.login{
    background-color: @wit;
    h2{
        text-align: left;
    }
}
 
/* small screen*/
.screen-sm{
    div.login form{
        width: 80%;
    }
}

/* medium screen*/
.screen-md{
    div.login form{
        width: 45%;
    }
}

/* large screen*/
.screen-lg{
    div.login form{
        width: 50%;
    }
}